/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  /* Allow DIVs to set with relative height */
}

body, .main-nav {
  height: 100%;
}

/* Allow DIVs to set with relative height */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =========================================
             VARS            
/* ========================================*/
/* =========================================
             GLOBAL STYLES           
/* ========================================*/
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
}

.screen-reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.content {
  padding: 0 6px;
}
.content div {
  margin-bottom: 12px;
}

/* =========================================
             OFF CANVAS INITIALISERS            
/* ========================================*/
.site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 2000px;
  /* For proto only, remove on production */
}

.site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.site-menu {
  z-index: 1;
  width: 88%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -88%;
  background: white;
}

.site-refinements {
  z-index: 1;
  width: 88%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -88%;
  background: white;
}

.site-wrapper.show-right .site-canvas {
  -webkit-transform: translateX(-88%);
  transform: translateX(-88%);
}

.site-wrapper.show-left .site-canvas {
  -webkit-transform: translateX(88%);
  transform: translateX(88%);
}

/* =========================================
             OVERLAY            
/* ========================================*/
.site-wrapper.show-left .overlay-left, .site-wrapper.show-right .overlay-right {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.65);
}

/* =========================================
             CATEGORIES LISTS           
/* ========================================*/
.categories > a {
  border-top: 1px solid #d9d9d9;
}
.categories > a:nth-last-child(2) {
  border-bottom: 1px solid #d9d9d9;
}
.categories a {
  padding: 12px;
  width: 100%;
  color: #000;
  text-transform: uppercase;
}
.categories a[class*="category"] svg {
  width: 13px;
  float: right;
  fill: #333;
  padding-top: 4px;
  height: 20px;
}
.categories a.active {
  font-weight: bold;
  background: #e1e1e1;
}
.categories a.active svg:last-child {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.categories nav {
  display: none;
}
.categories nav.grid a {
  width: 49.3%;
}
.categories nav a {
  position: relative;
  border-bottom: none;
  text-transform: capitalize;
}
.categories nav a.selected {
  color: #519946;
  background: #ebf5e9;
}
.categories nav a svg {
  fill: #69b55d;
  position: absolute;
  top: 15px;
  right: 13px;
  width: 15px;
  height: 18px;
}

/* =========================================
             HEADER           
/* ========================================*/
header.main {
  font-size: 0;
  position: relative;
}
header.main a {
  border-right: 1px solid #d1d1d1;
  display: inline-block;
  width: 12.5%;
  cursor: pointer;
}
header.main a:last-child {
  border-right: none;
}
header.main svg {
  height: 42px;
  width: 42px;
  margin: 0 auto;
  display: block;
  padding-top: 1px;
}
header.main .logo {
  width: 50%;
  height: 42px;
}
header.main .logo svg {
  width: 100%;
  display: inline-block;
}
header.main .logo .checkout svg {
  height: 48px;
}

.search-bar {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
  border-bottom: 1px solid #d1d1d1;
  padding: 0;
}
.search-bar input {
  width: 100%;
  border: none;
  padding: 12px;
  color: orange;
}

nav.breadcrumb {
  background: #eaeaea;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid #d1d1d1;
}
nav.breadcrumb span {
  color: #6b6b6b;
}

/* =========================================
             SEARCH BAR           
/* ========================================*/
.show-search .search-bar {
  max-height: 50px;
  border-bottom: 3px solid orange;
  position: relative;
  z-index: 100;
}

.show-search .search {
  z-index: 101;
  position: relative;
  background: white;
  border-bottom: 1px solid white;
  border-right: 1px solid black;
}
.show-search .search svg {
  fill: orange;
}

::-webkit-input-placeholder {
  color: orange;
}

.show-search .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.55);
}

/* =========================================
             REFINE CONTROLS          
/* ========================================*/
.refine-controls {
  position: relative;
  padding: 6px;
}
.refine-controls .fixed-col {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 86px;
  height: 40px;
  border: 1px solid black;
  padding: 3px 0 0 5px;
}
.refine-controls .fixed-col a {
  display: inline-block;
  height: 34px;
}
.refine-controls .fixed-col svg {
  height: 36px;
  width: 36px;
}
.refine-controls .fluid-col {
  margin-left: 86px;
  display: block;
  position: relative;
  top: 0;
  overflow: hidden;
}
.refine-controls .fluid-col section {
  width: 50%;
  float: left;
  padding-left: 6px;
}
.refine-controls .fluid-col section.filter svg {
  height: 15px;
}
.refine-controls .fluid-col section a {
  display: block;
  border: 1px solid #000;
  height: 40px;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.refine-controls .fluid-col section a span {
  margin-top: 10px;
  display: inline-block;
}
.refine-controls .fluid-col section a svg {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 3px;
  top: 10px;
}

/* =========================================
             REFINEMENTS MENU
/* ========================================*/
.site-refinements
header {
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.site-refinements
header a {
  background: #0199cb;
  padding: 12px;
  width: 100%;
  text-align: center;
  display: block;
}
.site-refinements
header a svg {
  width: 24px;
  fill: #fff;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  vertical-align: middle;
  float: left;
  height: 24px;
}
.site-refinements
header a span {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.site-refinements .filters {
  padding: 0 6px 0 6px;
}
.site-refinements .filters p {
  margin-bottom: 6px;
}
.site-refinements .filters a {
  display: inline-block;
  background: #69b55d;
  padding: 8px 10px;
  margin: 0 6px 6px 0;
  position: relative;
}
.site-refinements .filters a span {
  color: #fff;
  font-size: 14px;
}
.site-refinements .filters a svg {
  width: 10px;
  height: 10px;
  fill: #fff;
  position: absolute;
  right: 1px;
  top: 1px;
}

/* =========================================
             SITE MENU          
/* ========================================*/
.site-menu header {
  background: black;
  position: relative;
  height: 48px;
  box-sizing: border-box;
}
.site-menu header span {
  color: #fff;
  position: absolute;
  top: 13px;
  left: 10px;
}
.site-menu header svg {
  fill: white;
  position: absolute;
  height: 22px;
  width: 22px;
  right: 10px;
  top: 13px;
}
.site-menu img {
  max-width: 100%;
}
.site-menu .categories {
  position: relative;
  margin-top: 0;
  top: -5px;
}
.site-menu .categories a:first-child {
  border-top: none;
}

.pagination {
  text-align: center;
}
.pagination a {
  display: inline-block;
  border: 1px solid black;
  padding: 6px;
  color: black;
  width: 23px;
  text-align: center;
  margin-right: 5px;
}
.pagination span {
  padding: 0px;
}
