/* =========================================
             HEADER           
/* ========================================*/

$breadCrumbBG: darken(#eaeaea,10%);
$divider: $breadCrumbBG;

header.main {
  font-size: 0;
  position: relative;
  a {
    border-right: 1px solid $divider;
    display: inline-block;
    width: 12.5%;
    cursor: pointer;
    &:last-child {border-right: none;}
  }
  svg {
    height: 42px;
    width: 42px; 
    margin: 0 auto; 
    display: block;
    padding-top: 1px;
  }
  .logo {
    width: 50%;
    height: 42px;
    svg {
      width: 100%;
      display: inline-block;
    }
   .checkout svg {
     height: 48px; 
   }
  }
}    
.search-bar {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
  border-bottom: 1px solid $divider;
  padding: 0;
  input {
    width: 100%;
    border: none;
    padding: 12px;
    color: orange;
  }
}
nav.breadcrumb {
  background: lighten($breadCrumbBG,10%);
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid $breadCrumbBG;
  span {
    color: darken($breadCrumbBG,40%);  
  }
}

.show-search .search-bar {
  max-height: 50px;
  border-bottom: 3px solid orange;
}
.show-search a {
  border-bottom: 1px solid orange;
  &.burger-menu { border-right: none;}
}
.show-search .search {
  border-bottom: 1px solid white;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  svg {fill: orange;}
}
::-webkit-input-placeholder {
   color: orange;
}