/* =========================================
             HEADER           
/* ========================================*/

$breadCrumbBG: darken(#eaeaea,10%);
$divider: $breadCrumbBG;

header.main {
  font-size: 0;
  position: relative;
  a {
    border-right: 1px solid $divider;
    display: inline-block;
    width: 12.5%;
    &:last-child {border: none;}
    cursor: pointer;
  }
  svg {
    height: 38px; 
    margin: 0 auto;
    display: block;
  }
  .logo {
    width: 50%;
    svg {
      width: 100%;
      display: inline-block;
    }
   .checkout svg {
     height: 48px; 
   }
  }
}    
nav.breadcrumb {
  background: $breadCrumbBG;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid $breadCrumbBG;
  span {
    color: darken($breadCrumbBG,40%);
    
  }
}