body {
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
 	a {
	  background: $cta;
	  border: 6px solid #fff;
	  padding: $padding;
		width: 100%;
		text-align: center;
		display: block;
		svg { 
			width: 24px;
			fill: #fff;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
   		vertical-align: middle;
  		float: left;
  		height: 24px; //Safari bug fix
		}
		span {
			color: #fff;
			font-size: 18px;
   		font-weight: 600;
		}
	}	
}

.filters {
	padding: 0 $gutter 0 $gutter;
	p {
		margin-bottom: 6px;
	}
	a {
		display: inline-block;
		background: $filter-but;
	  padding: 8px 10px;
	  margin: 0 6px 6px 0;
	  position: relative;
		span {
			color:#fff;
			font-size: 14px;
		}
	  svg {
	  	width: 10px;
	  	height: 10px; //SVG fix 
	  	fill: #fff;
		  position: absolute;
		  right: 1px;
		  top: 1px;
	  }
	}
}

.refinements {
	margin-top: 60px;
	> a {
		border-top: 1px solid $divider;
		&:nth-last-child(2) {
			border-bottom: 1px solid $divider;
		}
	}
	a {
		padding: $padding;
		width: 100%;
		color: #000;
		text-transform: uppercase;
		&[class*="category"] svg {
			width: 13px;
			float: right;
			fill: #333;
			padding-top: 4px;
			height: 20px;
		}
		&.active {
			font-weight: bold;
					background: #e1e1e1;

			svg {
				transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
			}
		}
	}
	nav {
		display: none;
		&.grid a {
			width: 49.3%;
		}
		a {
			position: relative;
			border-bottom: none;
			text-transform: capitalize;
			&.selected {
				color: darken($filter-but, 10%);
				background: lighten($filter-but,40%);
			}
			svg {
				fill: $filter-but;
				position: absolute;
				top: 15px;
				right: 13px;
				width: 15px;
				height: 18px;
			}
		}
	}
}
	#category2 {
		display: block;
	}

