.pagination {
  text-align: center;
  a {
    display: inline-block;
    border: 1px solid black;
    padding: 6px;
    color: black;
    width: 23px;
    text-align: center;
    margin-right: 5px;
  }
  span {
  	padding: 0px;
  }
}