/* =========================================
             REFINEMENTS MENU
/* ========================================*/
    
.site-refinements
	header {
	  top: 0; 
	  width: 100%;
	  background: #fff; 
	  z-index: 999;
	 	a {
		  background: $cta;
		  padding: $padding;
			width: 100%;
			text-align: center;
			display: block;
			svg { 
				width: 24px;
				fill: #fff;
	      -webkit-transform: rotate(180deg);
	      transform: rotate(180deg);
	   		vertical-align: middle;
	  		float: left;
	  		height: 24px; //Safari bug fix
			}
			span {
				color: #fff;
				font-size: 18px;
	   		font-weight: 600;
			}
	}	
}
.site-refinements .filters {
	padding: 0 $gutter 0 $gutter;
	p {
		margin-bottom: 6px;
	}
	a {
		display: inline-block;
		background: $filter-but;
	  padding: 8px 10px;
	  margin: 0 6px 6px 0;
	  position: relative;
		span {
			color:#fff;
			font-size: 14px;
		}
	  svg {
	  	width: 10px;
	  	height: 10px; //SVG fix 
	  	fill: #fff;
		  position: absolute;
		  right: 1px;
		  top: 1px;
	  }
	}
}


