/* =========================================
             SITE MENU          
/* ========================================*/

.site-menu {
  overflow: auto;
  border: 2px solid red;
  header {
    background: black;
    position: relative;
    height: 48px;
    box-sizing: border-box;
      span {
        color: #fff;
        position: absolute;
        top: 13px;
        left: 10px;
      }
      svg {
        fill: white;
        position: absolute;
        height: 22px;
        width: 22px;
        right: 10px;
        top: 13px;
      }       
  }
  img {
    max-width: 100%;
  }
  .categories {
    position: relative;
    margin-top: 0;
    top: -5px;
    a:first-child {
      border-top: none;
    }
  }
}

